@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.box{
   border: 20px solid orange;
   padding: 100px;
    margin:100px;
    color: rgb(132, 108, 108);
    background-color: black;
    border-radius: 36px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.title{
    font-weight: 200px;
    margin:20px;
    text-align: center;

}
.btn{
    background-color: orange;
    color: black;
    font-weight:75px;
    padding :15px 15px;
    border-radius:30px;
    text-align: center;

}
.card
{
    border:5px solid lightgray;
    background-color: lightgray;
    font-family: cursive;
    padding: 20px;
    margin:auto;
    width:200px;
    height: 300px;
   
}
.num{
    
    border:1px solid black;
    border-radius: 50%;
    display:inline;
    padding:10px 18px;
}
.heading{
    font-size: 25px;
    font-weight:800 ;
}
.container{
    border: 5px solid black;
    border-radius: 20px;
    margin:50px auto;
    padding:10px;
    background-color:#ffff;
    width: 320px;
    font-family: 'Poppins', sans-serif;
}
.cimg
{
    width:100%;
   
}
.card-body{
    padding:20 px;
}